@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (User.Identity.IsAuthenticated)
{
    <span>@User.Identity.Name | @User.IsInRole("Admin")</span>
}
@if (SignInManager.IsSignedIn(User))
{
    <h3>YOu are loged in @UserManager.GetUserName(User)</h3>
   
}  @* @await UserManager.GetUsersInRoleAsync(User).ToString()*@
else
{
   <h3>You are not loged in</h3>
}

